@font-face {
	font-family: 'BigSans';
	src: url('/fonts/YandexSansText-Thin.eot');
	src: 
	url('/fonts/YandexSansText-Thin.woff') format('woff'),
	url('/fonts/YandexSansText-Thin.ttf') format('truetype');
	font-style: normal;
}
*{
	padding: 0;
	margin: 0;
}
body {
	margin: 0;
	padding: 0;
	background: #f5f5f5 url(/img/bg-day.png);
	background-size: cover;
	transition: background 1s;
	font-family: 'BigSans';
}
.night {
	background: #f5f5f5 url(/img/bg-night.png);
	background-size: cover;
	transition: background 1s;
}

.circle-menu {
	margin-top: 100px;
	display: flex;
	flex-direction: column;
	align-self: center;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	width: 400px;
	height: 400px;
	border-radius: 50%;
	transition: transform 1s;
	overflow: hidden;
}
.circle-menu ul {
	position: absolute;
	width: 300px;
	height: 300px;
	margin: 50px;
	padding: 0;
	list-style: none;
	border-radius: 50%;
	overflow: hidden;
	animation: move 60s infinite linear;
	transition: background-color 1s;
	background-color: rgba(241, 196, 15, 0.5);
}
@keyframes move {
	to {
		transform: rotate(360deg);
	}
}
.circle-menu .center {
	position: absolute;
	top: 195px;
	left: 195px;
	z-index: 1000;
	border: 5px solid #34495e;
	border-radius: 50%;
	box-shadow: 0 0 3px #cccccc;
}

.circle-menu li {
	position: absolute;
	top: -10px;
	left: -10px;
	width: 160px;
	height: 160px;
	transform-origin: 100% 100%;
	overflow: hidden;
}

.circle-menu li:nth-child(1) {
	transform: rotate(0deg) skew(30deg);
}
.circle-menu li:nth-child(2) {
	transform: rotate(60deg) skew(30deg);
}
.circle-menu li:nth-child(3) {
	transform: rotate(120deg) skew(30deg);
}
.circle-menu li:nth-child(4) {
	transform: rotate(180deg) skew(30deg);
}
.circle-menu li:nth-child(5) {
	transform: rotate(240deg) skew(30deg);
}
.circle-menu li:nth-child(6) {
	transform: rotate(300deg) skew(30deg);
}

.circle-menu li a {
	display: block;
	width: 160px;
	height: 160px;
	margin-top: 40px;
	margin-left: 40px;
	border: none;
	font-size: 0;
	background: url("/img/forum.svg") no-repeat 50% 40%;
	background-size: 50px 50px;
	background-position: 50% 30%;
	transform: skew(-30deg) rotate(-60deg);
}



.circle-menu ul:hover {
	animation-play-state: paused;
}
/* Иконки */

.circle-menu li:nth-child(2) a {
	background-image: url("/img/money.svg");
}

.circle-menu li:nth-child(3) a {
	background-image: url("/img/rules.svg");
}

.circle-menu li:nth-child(4) a {
	background-image: url("/img/discord.svg");
}

.circle-menu li:nth-child(5) a {
	background-image: url("/img/vk.svg");
}

.circle-menu li:nth-child(6) a {
	background-image: url("/img/moon.svg");
	transition: background-image 1s;
}
.tooltip {
	max-width: 300px;
	display: none;
	padding: 15px; 
	position: absolute;
	background-color: white;
	border-radius: 5px; 
	color: #212B63;
	transition: 20ms;
	border: 1px solid #f0f0f0;
	font-size: 18px;
}
.tooltip-enabled {
	display: block;
}
.tooltip h2 {
	text-align: center;
}
.ip {
	position: absolute;
	bottom: 10%;
	left: 43%;
	display: inline-block;
	cursor: pointer;
	text-align: center;
	color: white;
}
.ip h1, .online h1 {
	font-size: 30px;
	font-weight: normal;

}
.ip p {
	font-size: 14px;
}
.online	{
	position: absolute;
	top: 10%;
	right: 10%;
	color: white;
	text-align: center;
}
