*{
	padding: 0;
	margin: 0;
}
body {
	left: 0;
	top: 0;
	position: absolute;
	height: 100%;
	width: 100%;
	background: url(/img/bg-night.png);
	background-size: cover;
	color: white
}
.block {
	width: 100px;
	height: 100px;
	background-color: white;
}
